<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> 
{{ 'builder-layout.css' | asset_url | stylesheet_tag }}
{{ 'builder-products.css' | asset_url | stylesheet_tag }}
{{ 'builder-animation.css' | asset_url | stylesheet_tag }}
{{ 'builder-tabs.css' | asset_url | stylesheet_tag }}
 
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<script src="{{ 'builder-swiper.min.js' | asset_url }}" defer></script>
<script src="{{ 'builder-sortable.min.js' | asset_url }}" defer></script>

<script src="{{ 'builder-script.js' | asset_url }}" defer></script>
<script src="{{ 'builder-tabs.js' | asset_url }}" defer></script>

<section id='builder-container' class='l-builder m-step-1'>
  <article class="l-builder-picture">
    <div class="b-chain" id="pendant-builder-container">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% for product in section.settings.select_first_product %}
            {% assign product = all_products[product] %}
            <div class="swiper-slide" data-product-active-id="{{ product.variants.first.id }}">
              <img src="{{ product.metafields.custom.charm_builder_image | img_url: 'master' }}" alt="{{ product.title }}">
              <span class="b-chain-text">
                <span class="b-chain-text_title">{{ product.title }}</span>
                <span class="b-chain-text_subtitle">{{ product.variants.first.price | money }}</span>
              </span>
            </div>
          {% endfor %}
        </div>
        <div id="charms_presentation" class="b-charms_presentation"></div>
        <div id="druganddrop" class="b-tip_druganddrop"> {{ section.settings.step_2_tip }} </div>
        <div class="swiper-button-next b-chain_nav-btn m-next">
          
        </div>
        <div class="swiper-button-prev b-chain_nav-btn m-prev">
          
        </div>
        {% comment %} <div class="swiper-pagination"></div> {% endcomment %}
      </div>
      <div id='b-notice' class="b-charms-notice hidden">Maximum number of pendants added</div>
    </div>
    {% comment %} <button id="b-select_btn" class="b-select" data-product-active="">SELECT</button> {% endcomment %}
  </article>

  <article class="l-builder-cart">
    <div class="b-builder__cart">
      <ul id="builder-cart-list" class="b-builder__cart-list">
      </ul>
      <div class="b-builder__cart-total">
        <span class="b-builder__cart-total_text">
          Subtotal: <span id="builder-cart-total-items"></span>
        </span>
        <span id="builder-cart-total" class="b-builder__cart-total_price">$0.00</span>
      </div>
    </div>
    <span id="builder-cart-checkout" class="b-builder__cart-checkout">ADD CHARM BUILDER TO CART</span>
  </article>

  <article class="l-builder-tabs">
    <div id="builder-tabs" class="b-tabs">
      <div class="b-tabs-nav">
        <div class="b-tabs-nav-item m-active" data-tab="chains">Chains</div>
        <div class="b-tabs-nav-item" data-tab="charms">Charms</div>
        <div class="b-tabs-nav-item" data-tab="spacers">Spacers</div>
        <div class="b-tabs-nav-indicator"></div>
      </div>
      <div class="b-tabs-content-wrapper">
        <div class="b-tabs-content">
          <div class="b-tabs-content-item m-active" data-tab="chains">
            <div class="b-tabs-content-item__list swiper-pagination-custom">
              {% for product in section.settings.select_first_product %}
                {% assign product = all_products[product] %}
                <div class="b-tabs-content-item__list-item swiper-pagination-thumb" data-product-id="{{ product.variants.first.id }}">
                  <figure class="b-tabs-content-item__figure">
                    <img 
                      src="{{ product.metafields.custom.charm_builder_image | img_url: 'medium' }}" 
                      alt="{{ product.title }}"
                      class="b-tabs-content-item__list-item_img"
                    >
                  </figure>
                  <div class="b-tabs-content-item__desc"> 
                    <span class="b-tabs-content-item__list-item_title">{{ product.title }}</span>
                    <span class="b-tabs-content-item__list-item_subtitle">{{ product.variants.first.price | money }}</span>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="b-tabs-content-item" data-tab="charms">
            <div class="b-tabs-content-item__list b-charm__list m-charms">
              {% for product in section.settings.select_second_product %}
                {% assign product = all_products[product] %}
                <div class="b-tabs-content-item__list-item charm-checkbox" 
                  data-product-id="{{ product.variants.first.id }}"
                  data-charm="{{ product.metafields.custom.charm_builder_image | image_url }}" 
                >
                  <figure class="b-tabs-content-item__figure">
                    <img 
                      src="{{ product.metafields.custom.charm_builder_image | img_url: 'medium' }}" 
                      alt="{{ product.title }}"
                      class="b-tabs-content-item__list-item_img"
                    >
                  </figure>
                  <div class="b-tabs-content-item__desc"> 
                    <span class="b-tabs-content-item__list-item_title">{{ product.title }}</span>
                    <span class="b-tabs-content-item__list-item_subtitle">{{ product.variants.first.price | money }}</span>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="b-tabs-content-item" data-tab="spacers">
            <div class="b-tabs-content-item__list b-charm__list m-spacer">
              {% for product in section.settings.select_third_product %}
                {% assign product = all_products[product] %}
                <div class="b-tabs-content-item__list-item spacer-checkbox" 
                  data-product-id="{{ product.variants.first.id }}"
                  data-charm="{{ product.metafields.custom.charm_builder_image | image_url }}" 
                >
                  <figure class="b-tabs-content-item__figure">
                    <img 
                      src="{{ product.metafields.custom.charm_builder_image | img_url: 'medium' }}" 
                      alt="{{ product.title }}"
                      class="b-tabs-content-item__list-item_img"
                    >
                  </figure>
                  <div class="b-tabs-content-item__desc"> 
                    <span class="b-tabs-content-item__list-item_title">{{ product.title }}</span>
                    <span class="b-tabs-content-item__list-item_subtitle">{{ product.variants.first.price | money }}</span>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>  
</section>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const paginationThumbs = document.querySelectorAll('.swiper-pagination-thumb');
    const swiper = new Swiper('.swiper-container', {
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      on: {
        slideChange: function() {
            updatePagination(this.activeIndex);
        },
      },
      slidesPerView: 1,
    });

    paginationThumbs.forEach((thumb, index) => {
      thumb.addEventListener('click', function() {
          swiper.slideToLoop(index); // Используем slideToLoop для правильного перехода
      });
  });

  function updatePagination(activeIndex) {
    paginationThumbs.forEach((thumb, index) => {
        thumb.classList.remove('active');
        if (index === activeIndex) {
            thumb.classList.add('active');
        }
    });
}
    updatePagination(swiper.activeIndex);

    var selectedProductsFirst = [
      {% for product in section.settings.select_first_product %}
        {
            "id": "{{ product.variants.first.id }}",
            "title": "{{ product.title | escape }}",
            "price": {{ product.variants.first.price | divided_by: 100 }},
            "image": "{{ product.featured_image | img_url: 'small' }}",
            "variant_title": "{{ product.variants.first.title | escape }}",
            "qty": 1
        }{% if forloop.last == false %},{% endif %}
      {% endfor %}
    ];

    var selectedProductsSecond = [
      {% for product in section.settings.select_second_product %}
        {
            "id": "{{ product.variants.first.id }}",
            "title": "{{ product.title | escape }}",
            "price": {{ product.variants.first.price | divided_by: 100 }},
            "image": "{{ product.featured_image | img_url: 'small' }}",
            "variant_title": "{{ product.variants.first.title | escape }}",
            "qty": 1
        }{% if forloop.last == false %},{% endif %}
      {% endfor %}
    ];

    var selectedProductsThird = [
      {% for product in section.settings.select_third_product %}
        {
            "id": "{{ product.variants.first.id }}",
            "title": "{{ product.title | escape }}",
            "price": {{ product.variants.first.price | divided_by: 100 }},
            "image": "{{ product.featured_image | img_url: 'small' }}",
            "variant_title": "{{ product.variants.first.title | escape }}",
            "qty": 1
        }{% if forloop.last == false %},{% endif %}
      {% endfor %}
    ];

    function setLocalStorageData(productsArray, name) {
      const storageKey = `builder.${name}`;
      const existingData = JSON.parse(localStorage.getItem(storageKey)) || [];
      const updatedData = [...existingData, ...productsArray];
      const uniqueData = updatedData.reduce((acc, current) => {
        if (!acc.some(product => product.id === current.id)) {
          acc.push(current);
        }
        return acc;
      }, []);
      localStorage.setItem(storageKey, JSON.stringify(uniqueData));
    }
    localStorage.clear();
    const activeChain = document.querySelector('.swiper-slide-active').getAttribute('data-product-active-id');
    localStorage.setItem('builder.activeChain', JSON.stringify(activeChain));
    setLocalStorageData([...selectedProductsFirst, ...selectedProductsSecond, ...selectedProductsThird], 'selectedProducts');
  });
</script>

{% schema %}
{
  "name": "Pendant Builder 3", 
  "settings": [
    {
      "type": "header",
      "content": "Step 1: Select a Chain"
    },
    {
      "type": "product_list",
      "id": "select_first_product",
      "label": "Select Products",
      "info": "Choose the products to display in the carousel.",
      "limit": 10
    },
    {
      "type": "header",
      "content": "Step 2: Choose Your Charms"
    },
    {
      "type": "product_list",
      "id": "select_second_product",
      "label": "Select Products",
      "info": "Choose the products to display in the scrollbar.",
      "limit": 15
    },
    {
      "type": "text",
      "id": "step_2_tip",
      "label": "tip for drag and drop",
      "default": "Move products using drag and drop"
    },
    {
      "type": "header",
      "content": "Step 3: Add Charm Spacers"
    },
    {
      "type": "product_list",
      "id": "select_third_product",
      "label": "Select Products",
      "info": "Choose the products to display in the scrollbar.",
      "limit": 15
    }
  ],
  "presets": [
    {
      "name": "Pendant Builder 3",
      "category": "Custom"
    }
  ]
}
{% endschema %}