<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> 
{{ 'builder-layout.css' | asset_url | stylesheet_tag }}
{{ 'builder-products.css' | asset_url | stylesheet_tag }}
{{ 'builder-animation.css' | asset_url | stylesheet_tag }}
{{ 'builder-steps.css' | asset_url | stylesheet_tag }}
 
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>

<script src="{{ 'builder-script.js' | asset_url }}" defer></script>

<section id='builder-container' class='l-builder m-step-1'>
  <article class="l-builder-steps">
    <div class="b-steps">
      <div class="b-steps-nav">
        <div class="b-steps-nav-item m-back">
          <span class="b-steps-nav-item__link hidden" id="builder-step-prev">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.469 14.063 11.53 9 6.47 3.937" stroke="#010101" stroke-width="1.688" stroke-miterlimit="10" stroke-linecap="square"></path>
            </svg>
            <span>Back</span>
          </span>
        </div>
        <div class="b-steps-nav-item m-next">
          <span class="b-steps-nav-item__link" id="builder-step-next">
            <span>Next</span>
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.469 14.063 11.53 9 6.47 3.937" stroke="#010101" stroke-width="1.688" stroke-miterlimit="10" stroke-linecap="square"></path>
            </svg>
          </span>
        </div>
      </div>
      <div id="builder-steps" class="b-steps-list">
        <div class="b-steps-item" data-item="1">
          <span>1</span>
          <strong>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" width="24px" height="24px"><polyline fill="none" stroke="#ffffff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="8,29.312 21.921,41.348 42,10.652 "/></svg>
          </strong>
        </div>
        <div class="b-steps-item" data-item="2">
          <span>2</span>
          <strong>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" width="24px" height="24px"><polyline fill="none" stroke="#ffffff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="8,29.312 21.921,41.348 42,10.652 "/></svg>
          </strong>
        </div>
        <div class="b-steps-item" data-item="3">
          <span>3</span>
          <strong>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" width="24px" height="24px"><polyline fill="none" stroke="#ffffff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="8,29.312 21.921,41.348 42,10.652 "/></svg>
          </strong>
        </div>
      </div>
      <div class="b-steps-desc">
        <h2 class="b-steps-desc-title">
          <span class="b-steps-desc-title_text m-step-1">{{ section.settings.step_title_1 }}</span>
          <span class="b-steps-desc-title_text m-step-2">{{ section.settings.step_title_2 }}</span>
          <span class="b-steps-desc-title_text m-step-3">{{ section.settings.step_title_3 }}</span>
        </h2>
        <p class="b-steps-desc-subtitle">
          <span class="b-steps-desc-subtitle_text m-step-1">{{ section.settings.step_subtitle_1 }}</span>
          <span class="b-steps-desc-subtitle_text m-step-2">{{ section.settings.step_subtitle_2 }}</span>
          <span class="b-steps-desc-subtitle_text m-step-3">{{ section.settings.step_subtitle_3 }}</span>
        </p>
      </div>
    </div>
  </article>

  <article class="l-builder-picture">
    <div class="b-chain" id="pendant-builder-container">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% for product in section.settings.select_first_product %}
            {% assign product = all_products[product] %}
            {% assign product_price = product.price | divided_by: 100 %}
            <div class="swiper-slide" data-product-active-id="{{ product.variants.first.id }}">
              <img src="{{ product.metafields.custom.charm_builder_image | img_url: 'master' }}" alt="{{ product.title }}">
              <span class="b-chain-text">
                <span class="b-chain-text_title">{{ product.title }}</span>
                <span class="b-chain-text_subtitle"> Lorem Ipsum Color</span>
              </span>
            </div>
          {% endfor %}
        </div>
        <div id="charms_presentation" class="b-charms_presentation"></div>
        <div id="spacer_presentation" class="b-charms_presentation"></div>
        <div class="swiper-button-next b-chain_nav-btn m-next">
          
        </div>
        <div class="swiper-button-prev b-chain_nav-btn m-prev">
          
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div id='b-notice' class="b-charms-notice hidden">Maximum number of pendants added</div>
      <div id='b-notice-1' class="b-charms-notice hidden">Maximum number of spacers added</div>
    </div>
    <button id="b-select_btn" class="b-select" data-product-active="">SELECT</button>
    
  </article>

  <article class="l-builder-cart">
    <div class="b-builder__cart">
      <ul id="builder-cart-list" class="b-builder__cart-list">
      </ul>
      <div class="b-builder__cart-total">
        <span class="b-builder__cart-total_text">
          Subtotal: <span id="builder-cart-total-items"></span>
        </span>
        <span id="builder-cart-total" class="b-builder__cart-total_price">$0.00</span>
      </div>
    </div>
    <span id="builder-cart-checkout" class="b-builder__cart-checkout">ADD CHARM BUILDER TO CART</span>
  </article>

  <article class="l-builder-charms">
    <div class="b-charm__list m-charms">
      {% for product in section.settings.select_second_product %}
        {% assign product = all_products[product] %}
        <div class="b-charm__list-item charm-checkbox" 
          data-charm="{{ product.metafields.custom.charm_builder_image | image_url }}" 
          data-product-id="{{ product.variants.first.id }}"
        >
          <img class="b-charm__list-item_img" src="{{ product.metafields.custom.charm_builder_image | img_url: 'medium' }}" alt="{{ product.title }}">
        </div>
      {% endfor %}
    </div>
    <div class="b-charm__list m-spacer">
      {% for product in section.settings.select_third_product %}
        {% assign product = all_products[product] %}
        <div class="b-charm__list-item spacer-checkbox" 
          data-charm="{{ product.metafields.custom.charm_builder_image | image_url }}" 
          data-product-id="{{ product.variants.first.id }}"
        >
          <img class="b-charm__list-item_img" src="{{ product.metafields.custom.charm_builder_image | img_url: 'medium' }}" alt="{{ product.title }}">
        </div>
      {% endfor %}
    </div>
  </article>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const swiper = new Swiper('.swiper-container', {
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      slidesPerView: 1,
    });

    var selectedProductsFirst = [
      {% for product in section.settings.select_first_product %}
        {
            "id": "{{ product.variants.first.id }}",
            "title": "{{ product.title | escape }}",
            "price": {{ product.variants.first.price | divided_by: 100 }},
            "image": "{{ product.featured_image | img_url: 'small' }}",
            "variant_title": "{{ product.variants.first.title | escape }}",
            "qty": 1
        }{% if forloop.last == false %},{% endif %}
      {% endfor %}
    ];

    var selectedProductsSecond = [
      {% for product in section.settings.select_second_product %}
        {
            "id": "{{ product.variants.first.id }}",
            "title": "{{ product.title | escape }}",
            "price": {{ product.variants.first.price | divided_by: 100 }},
            "image": "{{ product.featured_image | img_url: 'small' }}",
            "variant_title": "{{ product.variants.first.title | escape }}",
            "qty": 1
        }{% if forloop.last == false %},{% endif %}
      {% endfor %}
    ];

    var selectedProductsThird = [
      {% for product in section.settings.select_third_product %}
        {
            "id": "{{ product.variants.first.id }}",
            "title": "{{ product.title | escape }}",
            "price": {{ product.variants.first.price | divided_by: 100 }},
            "image": "{{ product.featured_image | img_url: 'small' }}",
            "variant_title": "{{ product.variants.first.title | escape }}",
            "qty": 1
        }{% if forloop.last == false %},{% endif %}
      {% endfor %}
    ];

    function setLocalStorageData(productsArray, name) {
      const storageKey = `builder.${name}`;
      const existingData = JSON.parse(localStorage.getItem(storageKey)) || [];
      const updatedData = [...existingData, ...productsArray];
      const uniqueData = updatedData.reduce((acc, current) => {
        if (!acc.some(product => product.id === current.id)) {
          acc.push(current);
        }
        return acc;
      }, []);
      localStorage.setItem(storageKey, JSON.stringify(uniqueData));
    }
    localStorage.clear();
    setLocalStorageData([...selectedProductsFirst, ...selectedProductsSecond, ...selectedProductsThird], 'selectedProducts');
  });
</script>

{% schema %}
{
  "name": "Pendant Builder 3",
  "settings": [
    {
      "type": "header",
      "content": "Step 1: Select a Chain"
    },
    {
      "type": "product_list",
      "id": "select_first_product",
      "label": "Select Products",
      "info": "Choose the products to display in the carousel.",
      "limit": 10
    },
    {
      "type": "text",
      "id": "step_title_1",
      "label": "Step 1 Title",
      "default": "Lorem Ipsum"
    },
    {
      "type": "textarea",
      "id": "step_subtitle_1",
      "label": "Step 1 Subtitle",
      "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
    },
    {
      "type": "header",
      "content": "Step 2: Choose Your Charms"
    },
    {
      "type": "product_list",
      "id": "select_second_product",
      "label": "Select Products",
      "info": "Choose the products to display in the scrollbar.",
      "limit": 15
    },
    {
      "type": "text",
      "id": "step_title_2",
      "label": "Step 2 Title",
      "default": "Lorem Ipsum"
    },
    {
      "type": "textarea",
      "id": "step_subtitle_2",
      "label": "Step 2 Subtitle",
      "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
    },
    {
      "type": "header",
      "content": "Step 3: Add Charm Spacers"
    },
    {
      "type": "product_list",
      "id": "select_third_product",
      "label": "Select Products",
      "info": "Choose the products to display in the scrollbar.",
      "limit": 15
    },
    {
      "type": "text",
      "id": "step_title_3",
      "label": "Step 3 Title",
      "default": "Lorem Ipsum"
    },
    {
      "type": "textarea",
      "id": "step_subtitle_3",
      "label": "Step 3 Subtitle",
      "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
    }
  ],
  "presets": [
    {
      "name": "Pendant Builder 3",
      "category": "Custom"
    }
  ]
}
{% endschema %}